:root{
  --main-color: #8CC052;
  --section-color: #AFADB5;
  --transition: 0.3s; 
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
.basic-title{
  color: var(--main-color);
  font-size: 18px;
  padding-bottom: 16px;
}
ul{
  list-style: none;
}
.grid-row-gap{
  grid-row-gap: 30px;
}
/* Start Nav */
.navbar-light .navbar-toggler{
  color: var(--main-color);
}

.navbar-toggler:focus{
  box-shadow: 0 0 0 0.25rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.navbar{
  box-shadow: 0 -6.5rem 10.5rem var(--section-color);
  background-color: #FEFEFE;
}
.navbar .logo{
  height: 80px;
}
.navbar-nav .nav-item .nav-link{
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  transition: var(--transition);
}
.navbar-nav .nav-item .nav-link:hover{
  color: var(--main-color);
  transform: scale(1.06);
  transition: var(--transition);
}
.navbar .icon{
  margin-top: auto;
}
.navbar .icon ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.navbar .icon ul li{
  padding-left: 24px;
  cursor: pointer;
}
.navbar .icon ul li img{
  transition: var(--transition);
}
.navbar .icon ul li img:hover{
  transform: scale(1.2);
  transition: var(--transition);
}
/* End Nav */
/*  Start Content */
.content{
  padding: 160px 0;
}
.content .row{
  column-gap: 50px;
}
.content h1{
  color: #000000;
  font-weight: 500;
  font-size: 45px;
  text-align: center;
}
.content .box-l p{
  color: #000000;
  max-width: 465px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.content .box-l .input-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 512px){
  .content .box-l .input-info{
    display: block;
  }
}

.content .box-l .input-info label{
  color: #000000;
  padding: 6px 0;
  font-weight: 500;
}
.content input{
  outline: none;
  border: 1px solid #d3d8e2;
  border-radius: 5px;
  padding: 7px 15px;
  margin-bottom: 15px;
  width: 100%;
}
input::placeholder{
  color: #d3d8e2;
  font-weight: 300;
}
.content .input-phone .input-phone-cont{
  display: flex;
  margin-bottom: 15px;
  /* justify-content: space-between; */
}
.content .input-phone .input-phone-cont .flag-select{
  border: 1px solid #d3d8e2;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  padding: 5px;
  padding-left: 5px;
}
.content .input-phone .input-phone-cont input{
  margin: 0;
  max-width: 124px;
  border-radius: 0px 5px 5px 0px;
}
@media (max-width: 512px){
  .content .input-phone .input-phone-cont input{
    max-width: 100%;
  }
}
.content .input-phone .input-phone-cont select{
  border: none;
  outline: none;
  padding-left: 14px;
}
.content .box-l .mess label{ 
  color: #000000;
  padding: 6px 0;
  font-weight: 500;
}
.content .box-l .mess input{ 
  width: 100%;
}
.content .box-l .mess-text label{ 
  color: #000000;
  padding: 6px 0;
  font-weight: 500;
}
.content .box-l .mess-text textarea{ 
  width: 100%;
  height: 200px;
  border: 1px solid #d3d8e2;
  border-radius: 5px;
  outline: none;
  padding: 20px 15px;
}
.content .box-l .mess-text textarea::placeholder{ 
  color: #d3d8e2;
}
.content .box-l .btn-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.content .box-l .btn-cancel{
  border: 1px solid #d3d8e2;
  width: 25%;
}
.content .box-l .btn-save{
  background-color: var(--main-color);
  color: #FFFFFF;
  width: 70%;
}
.content .box-l .btn-save:focus{
  transition: var(--transition);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.content .box-l .btn-save:hover{
  background-color: #6C9B3C;
}
.content .box-l .btn-cancel:focus{
  transition: var(--transition);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.content .box-l .btn-cancel:hover{
  background-color: #f5f5f5;
}
.content .box-r p{
  color: #534b4b;
  padding: 15px 0;
  max-width: 250px;
}
@media (max-width: 991px) {
  .content .box-r p {
    max-width: 100%;
  }
}
.content .box-r .contact .info img{
  width: 28px;
}
.content .box-r .contact{
  border: 1px solid #d3d8e2;
  border-radius: 8px;
}
.content .box-r .contact .info{
  padding: 15px 10px;
}
.content .box-r .contact .info01{
  border-bottom: 1px solid #d3d8e2;
}
.content .box-r .contact .info a{
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  padding-left: 10px;
}
@media (max-width: 991px) {
  .content .box-r {
    text-align: center;
  }
}
/*  End Content */








/* Start Footer */
.footer{
  position: relative;
  padding-top: 50px;
  box-shadow: 0 0 60px rgba(175, 173, 181, 20%);
}
.footer .text h1{
  color: #000000;
  font-size: 40px;
}
.footer .text p{
  color: #000000;
  font-size: 16px;
}
.footer .serInp{
  width: 100%;
  background-color: #FFFFFF;
  /* padding: 20px; */
  border-radius: 0.25rem;
  box-shadow: 0 0 60px rgba(175, 173, 181, 15%);
}
.footer .serInp input{
  box-shadow: none;
  outline: none;
  border: none;
}
.footer .serInp input::placeholder{
  color: var(--section-color);
}
.input-group{
  padding: 20px;
}
.footer .serInp button{
  background-color: var(--main-color);
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 50px;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: var(--transition);
}
@media (max-width: 450px) {
  .footer .serInp button{
    padding: 0 20px;
  }
}
.footer .serInp button:active{
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
  transition: var(--transition);
}
.footer .serInp button:hover{
  background-color: #6C9B3C;
}
.footer .footer-end .box-logo p{
  font-size: 18px;
  color: #000000;
  padding-top: 15px;
} 
.footer .title-box{
  font-size: 27px;
  color: #000000;
}
.footer ul li{
  transition: var(--transition);
}
.footer .row ul li a:hover{
  padding-left: 10px;
  transition: var(--transition);
}
.footer ul li a{
  font-size: 17px;
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  transition: var(--transition);
}
.footer .row ul li a::before{
  font-family: "Font Awesome 6 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
  font-size: 13px;
}
.footer .box-end img{
  width: 35px;
  padding-right: 10px;
}
 .footer .social{
  display: flex;
  justify-content: end;
}
.footer .social h1{ 
  font-size: 22px;
  font-weight: 500;
  color: var(--main-color);
  text-shadow: 0 0px 25px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .social {
    justify-content: center;
  }
}
.footer .social ul{
  display: flex;
  padding: 0;
}
.footer .social li {
  margin-right: 10px;
}
.footer .social li a {
  background-color: #8d879f;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  transition: var(--transition);
}
.footer .social .facebook:hover {
  background-color: #1877f2;
}
.footer .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .social .youtube:hover {
  background-color: #ff0000;
}
/* End Footer */
/* Start Scroll */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 999;
  transition: opacity 0.3s;
}
.scroll-to-top.active {
  display: block;
}

.fire {
  top: -2px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-image: url('../icons/rocket.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fireAnimation 1s infinite;
}

@keyframes fireAnimation {
  0% {
    transform: translateX(-50%) rotate(-2deg) scale(1);
  }
  50% {
    transform: translateX(-50%) rotate(2deg) scale(1.1);
  }
  100% {
    transform: translateX(-50%) rotate(-2deg) scale(1);
  }
}

/* End Scroll */
